---
# tasks file for ansible-lustre
- name: Enable powertools repo for CentOS8 variation.
  command: dnf config-manager --set-enabled powertools
  when:
    - ansible_distribution_major_version == "8"
    - (ansible_distribution == "AlmaLinux") or (ansible_distribution == "Rocky") or (ansible_distribution == "CentOS")
- name: Enable CRB repo for RHEL9 variation.
  command: dnf config-manager --set-enabled crb
  when:
    - ansible_distribution_major_version == "9"
    - (ansible_distribution == "AlmaLinux") or (ansible_distribution == "Rocky") or (ansible_distribution == "CentOS")
- name: Install python3-netaddr
  dnf:
    name: python3-netaddr
    state: installed
  when:
      - (ansible_distribution_major_version == "8") or (ansible_distribution_major_version == "9")
- name: Install python2-netaddr for CentOS7
  yum:
    name: python-netaddr
    state: installed
  when:
      - (ansible_distribution_major_version == "7")
- name: Install Development Packages to compile lustre module
  dnf: 
    name: 
      - '@Development Tools' 
      - kernel-devel
      - openssl-devel
      - libmount-devel
      - libnl3-devel
      - libselinux-devel 
      - libselinux-static
      - zlib-devel
      - libyaml-devel
      - libtool
      - rpmrebuild
- name: Copy Lustre DKMS module
  copy:
    src: "files/{{ item }}"
    dest: "/root/{{ item }}"
  with_items: "{{ client_packages }}"
- name: Install Lustre DKMS module
  dnf:
    name: "/root/{{ item }}"
    state: present
    disable_gpg_check: yes
  with_items: "{{ client_packages }}"
- name: Find Private network interfarce
  set_fact:
    private_interface: "{{ hostvars[inventory_hostname]['ansible_'+item]['device'] }}"
  when:
    - hostvars[inventory_hostname]['ansible_' + item].ipv4 is defined
    - hostvars[inventory_hostname]['ansible_' + item]['ipv4']['address'] | ipaddr('192.168.0.0/16')
  with_items: "{{ ansible_interfaces }}"
- copy:
    dest: /etc/modprobe.d/lustre.conf
    content: "options lnet networks=\"tcp({{ private_interface }})\"\n"
